<div id="result">
  <div class="feedback">
    <h4><%= @feedback %></h4>
    <p class="result">your word was <%= params["user_input"] %></p>
    <p class="score">your score : </p>
  </div>
  <%= link_to "play again", new_path %>
</div>



