// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700|Roboto+Mono:400,700');

/* ------ VARIABLES ------ */

$primary-color: #E1EDE9;
$accent-color: #A61C3C;
$text-color: #A61C3C;
$light-pink: #F5EDE7;
$dark-green: #1A2126;

$font-family--primary: 'Raleway', sans-serif;
$font-family--accent: 'Roboto Mono', monospace;

$font-weight-bold: 800;
$font-weight-normal: 400;

/* ------ STYLES ------ */

* {
  margin: 0;
  text-align : center;
  font-size: 100%;
  font-family: $font-family--primary;
}

h2 {
  font-size: 3rem;
}

#new_game {
  height: 100vh;
  width: 100vw;
  background: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $text-color;


  & > div {
    margin: 10px auto;
  }

  ul {
    margin-top: 20px;
    margin-inline-start: 0px;
    padding-inline-start: 0px;
    font-family: $font-family--accent;
  }

  ul > li {
    display: inline-block;
    background: white;
    padding: 16px;
    font-size: 1.2rem;
    font-weight: $font-weight-bold;
    color: $dark-green;
  }

  form {
    width: 48vw;
  }

  input {
    display: block;
    width: 100%;
    margin: auto;
    height: 45px;
  }

  input[type="text"] {
    background: $primary-color;
    border: none;
    border-bottom: 4px solid $dark-green;
    margin-bottom: 10px;
    opacity: 0.5;
  }

  .btn {
    margin-top: 20px;
    border: none;
    height: 30px;
    font-weight: $font-weight-bold;
    transition: all 0.2s ease-out;

    &:hover {
      background: $dark-green;
      color: white;
      cursor: pointer;
    }
  }


  input[type="text"]:active,
  input[type="text"]:focus, {
    outline: 0px;
    outline-offset: 0px;
    color: $dark-green;
    opacity: 1;
    font-family: $font-family--accent;
    font-size: 1.5rem;
    font-weight: $font-weight-bold;
  }

  ::placeholder {
    color: $dark-green;
    font-family: $font-family--accent;
    font-size: 1.5rem;
    font-weight: $font-weight-bold;
  }

}


#result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $dark-green;
  color: white;
  height: 100vh;

  a {
    margin-top: 40px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: $font-weight-bold;
    border-bottom: 3px solid white;
    transition: all 0.3s ease-out;
  }

  a:hover {
    background: white;
    color: $dark-green;
  }
}
